<html>
    <head>
    	<title>Пупсин блог</title>
    </head>
    <body>	
        <div>
        	<h1><a href="">Пупсин блог</a></h1>
        </div>
        <div>
        	<p>опубликовано: 28.12.2015 13:16</p>
        	<h2><a href="">Пупсик привет!</a></h2>
        	<p>Пишу свой первый сайт, изучая новый язык программирования Python.</p>
        </div>

        <div>
        	<p>опубликовано: 28.12.2015 13:19</p>
        	<h2><a href="">Вторая запись</a></h2>
        	<p>А как насчет того, что бы не работать 31го?</p>
        </div>
    </body>    
</html>