<html>
    <head>
    	<title>Пупсин блог</title>
    </head>
    <body>	
        <div>
        	<h1><a href="">Пупсин блог</a></h1>
        </div>
        <div>
        	<p>опубликовано: 28.12.2015 13:16</p>
        	<h2><a href="">Пупсик привет!</a></h2>
        	<p>Пишу свой первый сайт, изучая новый язык программирования Python.</p>
        </div>

        {% for post in posts %}
        <div>
        	<p>Опубликованно: {{ post.published_date }}</p>
        	<h1><a href="">{{ post.title }}</a></h1>   
            <p>{{ post.text|linebreaks }}</p>
        </div>
        {% endfor %}
    </body>    
</html>